body {
  font-family: "Arial";
  font-size: 13px;
  margin: 0px;
}

/*Admin Access Header*/
table.head{
	width:100%;
	background:black;
	color:white;
	vertical-align:middle;
}

.access{
	font-family:Georgia;
	color:white;
	background:black;
	font-size:16pt;
	font-weight:bold;
	padding: 5%;
	width:100%;
}

.changes{
	font-family: Verdana;
	font-size:11pt;
	font-weight:normal;
	padding-right:1%;
	float:right;
	text-align:right;
}

#Links {
  padding: 15px;
  font-size: 16px;
  text-align: center;
}


ul {
  background-color: #666;
  margin: 0px auto;
  padding: .5%;
  font-size: 14px;
  color:white;

}

li {
  list-style: none;
  display: inline;
  margin: 10%;
  padding: 1%;
  width:33%;
  text-align:center;
  vertical-align:middle;
}

legend{
	color:black;
}

a:link, a:visited {
  color: white;
  text-decoration:none;
}

a:hover {
  color: white;
  text-decoration:underline;
}


/*Form Content*/
#add{
	display:none;
}
#change{
	display:none;
}
#delete{
	display:none;
}

#form-content {
  margin: 0px auto;
  color:black;
  width:55%;
}
#form-content fieldset {
  border: 2px solid #CCC;
  margin: 0px;
  padding: 15px;
}
#form-content legend {
  font-size: 14px;
  font-family: Georgia;
}
#form-content .FieldLabel {
  font-size: 12px;
  text-align: left;
  color:black;
}

#form-content .FieldItem {
  margin-bottom: 5px;
  text-align: left;
}

#form-content .FieldItem input.Text {
  border: 1px solid #AAA;
  outline: none;
  padding: 5px;
  font-size: 15px;
}

.Image{
	float:right;
}

a.low:link, a.low:visited{
	color:black;
	text-decoration:none;
}

a.low:hover{
	color:black;
	text-decoration:underline;
}