a.work:visited, a.work:link{
	color:white;
	text-decoration:none;
}

a.work:hover {
	color:white;
	text-decoration:underline;
}

.links{
	color:white; 
	text-align:center; 
	position:relative; 
	background-color:black; 
	opacity:50%;
  padding:0.05%
}

a:link, a:visited{
	color:black;
	text-decoration:underline;
}

a:hover{
	color:black;
	text-decoration:underline;
}

#map{
	width:100%;
	height:88%;
	position:relative;
	z-index:10;
	border:none;
	visibility:hidden;
}

.mapframe{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	z-index:10;
	border:none;
	background: black;
}

#features{
	position:relative;
	z-index:0;
}