/*
  jQuery MegaMenu Plugin Examples CSS
  Author: GeekTantra
  Author URI: http://www.geektantra.com
*/
#form-content {
  margin: 0px;
}
#form-content fieldset {
  border: 1px solid #CCC;
  margin: 0px;
  padding: 5px;
}
#form-content legend {
  font-size: 11px;
}
#form-content .FieldLabel {
  font-size: 11px;
}

#form-content .FieldItem {
  margin-bottom: 5px;
}

#form-content .FieldItem input.Text {
  width: 220px;
  border: 1px solid #AAA;
  outline: none;
  padding: 5px;
  font-size: 15px;
}